@model Stand
<html>
<head>
</head>
<body>
    @if (TempData["remStandError"] != null)
    {
        <div>
            <strong>Erro!</strong> O stand que digitou não existe.
        </div>
    }
    <div>
        <h1>Remover Stand</h1>
        <form action="delStand" method="post">

            <td>@Html.TextBoxFor(m=>m.designacao,new { @class = "form-control", placeholder="Designação",style ="width:300px" })</td>

            <input type="submit" onclick="delStand" value="Remover" />
        </form>
    </div>
</body>
</html>
