.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    grid-gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    width: 380px;
    background-color: #b7d7ff;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.underline:hover {
    text-decoration: underline;
}

.elevation {
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
}

.alerttext {
    color: white;
    font-size: 15px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.alertmessage {
    width: 500px;
    padding: 50px;
    background-color: #f14b4b;
}

.successmessage {
    width: 500px;
    padding: 50px;
    background-color: #04AA6D;
}



