.alerttext {
    color: white;
    font-size: 15px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.background{
    background-color: white;
}

.alertmessage {
    width: 500px;
    height: 100px;
    padding: 50px;
    background-color: #f14b4b;
}

.successmessage {
    width: 500px;
    height: 100px;
    padding: 50px;
    background-color: #04AA6D;
}